/* work sans font google font */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,400;1,900&family=Work+Sans:ital,wght@0,700;1,400&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}

header {
    background: rgba(255, 144, 14, 0.10);
    /* padding: 50px 240px; */
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

nav>ul {
    display: flex;
    list-style: none;


}

nav>ul li {
    margin-left: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav>ul li a {
    text-decoration: none;
    color: #424242;
}

.nav-title {
    font-size: 3rem;
    font-weight: 700;
    color: #131313;

}

.banner>img {
    width: 75%;
    margin-top: 20px;
    margin-bottom: 50px;
    
}

/* banner content style */
.banner-contant {
    max-width: 800px;
    text-align: center;
    margin: 0px auto;
}

.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.nanner-dascription {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn-primary{
    color: #fff;
    background-color: #ff900e;
    border-radius: 8px;
    padding: 20px 25px;
    border: none;
    font-size: 1.25rem;
    cursor: pointer;
    
}
/* features sections start  */
main{
    max-width: 1440px;
    margin: 70px auto;
}
.features-sections{
    display: flex;
    align-items: center; 
    /* width: 75%; */
    margin: 0px auto;
    gap: 50px;
}
.features-img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
    margin-left: 70px;
}
.features-container{
    padding-right: 50px;
    padding-left: 50px;
}
.features-taitle{
    font-size: 2.8rem;
}
.tomatu{
    color: #ff900e;
}
.features-dascription, span{
    color: #727272;
}
/* facts-section */
.facts{
    max-width: 1440px;
    
}
.section-title {
    font-size: 3rem;
    font-weight: 700;
    color: #131313;
    margin-left: 80px;
}
.text-light-gray{
 margin-left: 80px;
 margin-bottom: 50px;
}

.facts-card-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.facts-card-container> .card{
    text-align: center;
    border: 1px solid #ff900e ;
    border-radius: 8px;
    padding: 30px ;
    /* height: 200px;
    width: 200px; */
}
.facts-card-container .card-stats{
    font-size:2.8rem ;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

 .facts-card-container .card-taitle {
    font-weight: 600;
    color: #727272;
    font-size: 1.25rem;
    margin-top: 5px;

 }
/* racponciv for mobail devais */
@media screen and (max-width: 575px) {
    nav{
        flex-direction: column;      
    }
    nav>ul li {
        display: flex;
      margin-left: 5px;
     
    }
    nav>ul{
        gap: 20px;
    }
    .features-sections{
        flex-direction: column;
    }
    .features-img{
        grid-template-columns: repeat(1,1fr);
        margin: 5px auto;
    }
}
@media screen and (min-width: 575px)and (max-width: 960px){
    .features-sections{
        flex-direction: column;
    }
}